:root {
    /* text-color */
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;

    /* fonts  */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}