.logo {
    display: flex;

    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;


    @include mq(mobile) {

        display: flex;
            margin-left: auto;
            margin-right: auto;
        }



}

.header__logo {
    color: #000000;


}