body {
    background-color: #ffffff;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.section-group {
    padding-top: 94px;
     padding-bottom: 94px;
    background-color: #f5f4fa;
}

.section-working {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
}

