.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.footer__logo {
  display: inline-block;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  color: #ffffff;

  @include mq(desktop) {
    margin-right: 156px;
  }
}

.footer-link {
  @include mq(desktop) {
    justify-content: flex-start;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.place {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
}

.adds {
  margin: 0;
  padding: 0;
  font-style: inherit;
}

.tel {
  margin-top: 0;
  margin-bottom: 0;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 60px;
  margin-bottom: 60px;

  @include mq(tablet) {
     margin-right: 89px;
    }


}

.join-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.bottom {
  @include mq(mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

     @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
     }

  @include mq(desktop) {
   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(tablet) {
     margin-left: 75px;
    }

  @include mq(desktop) {
    align-items: flex-start;
    margin-left: 0;
  }
}

.subscription {

  width: 100%;
  // width: 570px;
  // height: 86px;

  // margin-left: 93px;
}

.subscription-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
