.team {

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include mq(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.guys {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.team__item {

  flex-grow: 1;


  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;

  @include mq (mobile-only) {
    &:not(:last-child) {
        margin-bottom: 30px;
      }

  }


  

  @include mq(tablet) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }


  @include mq(desktop) {
      width: calc((100% - 90px) / 4);
      margin-bottom: 0;

      &:not(:last-child) {
          margin-right: 30px;
      }
  }




}

.team-member__title {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-member__text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
}
